* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

#leftHeader {
    position: absolute;
    left: 0;
    display: table;
    height: 100vh;
    width: 10%;
    background-color: #62D4D4;
}

#inner_header {
    display: table-cell;
    vertical-align: middle;
}

#inner_header h1 {
    text-align: center;
    margin: 15px 0 15px 0;
    padding: 15px;
    background-color: #205D76;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;

}

#title {
    color: white;
    position: absolute;
    margin: 30px;
    font-size: 45px;
    font-family: 'Titillium Web', sans-serif;
}

#title span {
    color: #FFC122;
}


#allQuestion {
    position: absolute;
    right: 0;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

#allQuestion div {
    width: 350px;
    height: 150px;
    margin: 35px;
    background-color: #62D4D4;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}