/* Color palette used : 
#FAF8DA -> Beige
#205D76 -> Bleu Foncé
#FFC122 -> Orange
#62D4D4 -> Bleu Clair
#FFA09E -> Rose
*/

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');



* {
    margin: 0;
    padding: 0;

}

body {
    background-image: url("Images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


a {
    color: none;
    text-decoration: none;

}

/* Implementation author : Zach Sauzier*/

html,
body {
    text-align: center;
    height: 100%;
}

.svg-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    width: 420px;
    cursor: pointer;

}

.shape {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    fill: transparent;
    stroke: #FFC122;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.text {
    font-family: sans-serif;
    font-size: 72px;
    line-height: 9px;
    letter-spacing: 8px;
    color: #fff;
    top: -55px;
    position: relative;
}

.svg-wrapper:hover .shape {
    stroke-width: 8px;
    stroke-dashoffset: 0;
    stroke-dasharray: 1050;
}

/* Fin implementation */
#ecranFin {
    text-align: center;
    color: #205D76;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Titillium Web";
}

#finText {
    font-size: 60px;
}


button:not(#hamburger) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #205D76;
    color: white;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 45px;
    padding: 15px;
    border-radius: 55px;
}

body {
    background-color: #f7e8d8d5;
}

#hamburger {
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    margin: 10px;
    transition: transform 1s;
    z-index: 150;


}

#leftHeader {
    z-index: 150;
    position: absolute;
    display: table;
    height: 100vh;
    background-color: #3A7BDE;
    transform: translateX(-200px);
    transition: transform 1s;

}

#leftHeader.active {
    transition: transform 1s;
    transform: translateX(0px);

}

#hamburger.active {

    transition: transform 1s;
    transform: translateX(135px);

}

#inner_header {
    display: table-cell;
    vertical-align: middle;
}

#inner_header h1 {
    text-align: center;
    margin: 15px 0 15px 0;
    padding: 15px;
    background-color: #205D76;
    color: white;
    font-family: 'Titillium Web', sans-serif;

}

#title {
    color: white;
    position: absolute;
    margin: 30px;
    font-size: 45px;
    font-family: 'Titillium Web', sans-serif;
}

#title span {
    color: #FFC122;
}

#content {
    display: none;
    position: relative;

}

#question {

    font-family: 'Titillium Web', sans-serif;
    padding-top: 10%;
    font-size: 27px;
    text-align: center;
}


#question h2 {

    color: #FFC122;
}

#reponse {

    padding-top: 3.5%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

#reponse div {
    cursor: pointer;
    margin: 50px 150px 0 150px;
    width: 300px;
    min-height: 50px;
    max-height: 150px;
    border-radius: 10px;
    overflow-y: auto;
    scroll-margin: auto;
    display: table;
}

.div1 {
    background-color: #E94D4D;
}

.div2 {
    background-color: #4ACBDE;
}

.div3 {
    background-color: #E7DF27;
}

.div4 {
    background-color: #62D62C;
}

.Valide {
    background-color: #8211B8;
}

#reponse h1 {
    display: table-cell;
    vertical-align: middle;
    font-size: 27px;
    text-align: center;
    color: white;
    font-family: 'Titillium Web', sans-serif;

}

#reponsebonne {

    background-color: green;
    padding: 10px;
    width: 250px;
    height: 10%;
    position: absolute;
    bottom: 2%;
    left: 15%;
    font-size: 12px;
    color: white;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
    display: none;
    transition: display ease-in-out 0.5s;


}

#reponsebonne.anim {
    display: table;
    animation: linear opacity 1s alternate;

}

@keyframes opacity {
    0% {
        transform: translate(-100%);
        opacity: 0;

    }


    100% {
        opacity: 50%;

    }

}

#reponsebonne h1 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}