/* Color palette used : 
#FAF8DA -> Beige
#205D76 -> Bleu Foncé
#FFC122 -> Orange
#62D4D4 -> Bleu Clair
#FFA09E -> Rose
*/




* {
    margin: 0;
    padding: 0;

}

a {
    color: none;
    text-decoration: none;

}

#ecranFin {
    text-align: center;
    color: #205D76;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Titillium Web";
}

#finText {
    font-size: 60px;
}


button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #205D76;
    color: white;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 45px;
    padding: 15px;
    border-radius: 55px;
}

body {
    background-color: white;
}

#leftHeader {
    position: absolute;
    display: table;
    height: 100vh;
    width: 10%;
    background-color: #62D4D4;
}

#inner_header {
    display: table-cell;
    vertical-align: middle;
}

#inner_header h1 {
    text-align: center;
    margin: 15px 0 15px 0;
    padding: 15px;
    background-color: #205D76;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;

}

#title {
    color: white;
    position: absolute;
    margin: 30px;
    font-size: 45px;
    font-family: 'Titillium Web', sans-serif;
}

#title span {
    color: #FFC122;
}

#content {
    display: none;

}

#question {
    font-family: 'Titillium Web', sans-serif;
    padding-top: 100px;
    font-size: 27px;
    text-align: center;
}

#question h1 {
    color: #205D76;

}

#question h2 {
    margin: auto;
    width: 1050px;

    color: #FFC122;
}

#reponse {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

#reponse div {
    margin: 50px 150px 0 150px;
    width: 300px;
    min-height: 50px;
    max-height: 150px;
    background-color: #62D4D4;
    border-radius: 10px;
    overflow-y: auto;
    scroll-margin: auto;
    display: table;
}

#reponse h1 {
    display: table-cell;
    vertical-align: middle;
    font-size: 27px;
    text-align: center;
    color: white;
    font-family: 'Titillium Web', sans-serif;

}

#reponsebonne {

    background-color: green;
    padding: 10px;
    width: 250px;
    height: 10%;
    position: absolute;
    bottom: 2%;
    left: 15%;
    font-size: 12px;
    color: white;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
    display: table;
    display: none;
    animation: linear opacity 1s alternate;


}


@keyframes opacity {
    0% {
        transform: translate(-100%);
        opacity: 0;

    }


    100% {
        opacity: 50%;

    }

}

#reponsebonne h1 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}